.time-input > input {
    display: inline-block !important;
    width: 80px !important;
    text-align: center;
}

.time-input > span {
    margin: 0 10px;
    font-size: 16px;
}

.time-input {
    text-align: center;
}